LoadPlugin write_prometheus
<Plugin write_prometheus>
  Port 9103
  Host "127.0.0.1"
</Plugin>

LoadPlugin df
LoadPlugin processes
LoadPlugin protocols
LoadPlugin swap
LoadPlugin tcpconns
LoadPlugin uptime
LoadPlugin users
LoadPlugin vmem
